

<%= form_for([@post, @post.comments.build],html:{class:"form-4"},remote: true) do |f| %>


      <%= f.hidden_field :commenter ,value: current_user.username %>

      <%= f.text_area :body ,placeholder:"comment",:rows=>1%>

    <p>
      <%= f.submit %>
    </p>
<% end %>